body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(49, 49, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
}
